<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>此消息已经过官网真实验证过！</title>
<link rel="stylesheet" href="css2/css.css" tppabs="css2/css.css" type="text/css">
<link rel="stylesheet" type="text/css" href="css2/reset.css" tppabs="css2/reset.css">
</head>
<body style="background:#efefef" class="not_in_mm">
		<div id="ks_ol_floatWin" class="ks_ol_comm_div"></div>
		<div id="main-content" class="clearfix" style="margin:0 auto;box-sizing: border-box;position:relative; max-width:640px !important;background:#FFF;">
			<p style="white-space: normal;">
			<img src="picture2/ssp.jpg" tppabs="picture2/ssp.jpg"></p>
			<div class="ui-portlet clearfix " style=" padding:10px 9px 30px;">
			  <div class="ui-portlet-content">
					<h1 style="text-indent: 0.0000pt; line-height: 23.5000pt; margin: 1.0000pt; padding: 0pt; background: rgb(255,255,255)">
				  <img border="0" src="picture2/tu1.png" tppabs="picture2/tu1.png" style=" padding:15px 15px 10px;"></h1>
		      <div class="article__header article__header-container"><div class="pgc-bar-top clearfix" data-user-id="3932529256"><a class="avatar-link" href="#"><div class="avatar"><span>
				<img src="picture2/txnews.jpg" tppabs="picture2/txnews.jpg" class="avatar" alt="腾讯新闻"></span></div></a><div class="subtitle"><p class="name"><span id="mediaName"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
document.write(year+"."+month+"."+day+"")
</script> 腾讯新闻</span><span><img src="picture2/toutiaohao.png" tppabs="picture2/toutiaohao.png" class="tx"></span></p><span class="original">官网认证</span></div><div align="right" style="float:right;margin-right:20px;"><a href="javascript:popup()">
					<img src="picture2/gz.png" tppabs="picture2/gz.png"></a></div></div></div>
<div class="Content-info" style="margin-bottom:15px;border-bottom:1px solid #d2d2d2;padding-bottom: 10px;"> </div>
<div id="fullpage" class="msg-content">
<section class="article135" style="font-family: 微软雅黑; font-size: 16px; box-sizing: border-box;">
<img border="0" src="picture2/tu2.png" tppabs="picture2/tu2.png">
<p style="text-indent:0em;max-width: 100%;min-height: 1em;padding-top:8px;line-height: 23.6px;box-sizing: border-box !important;word-wrap: break-word !important;overflow-wrap: break-word !important;"><b><font color="#FF3300">
建议先添加微信好友：</font></b><b><a href="javascript:popup()" class="copy"><span  style="color: #FF0000; font-family: 微软雅黑; font-size: 20px;"></span></a></b></strong></span>&nbsp;&nbsp;百问百答，<font color="#FF3300">添加微信号了解</font></span></strong></span></p>
<p>&nbsp;</p>
<img border="0" src="picture2/tu4.png" tppabs="picture2/tu4.png">
<p>&nbsp;</p>
<img border="0" src="picture2/tu5.jpg" tppabs="picture2/tu5.jpg">
<p>&nbsp;</p>
<img border="0" src="picture2/tu6.png" tppabs="picture2/tu6.png">
<p style="text-indent:5em;white-space: normal;color: #000000;font-family: 微软雅黑;">
老师微信号：<span style="color: #FF0000; font-size: 20px;"><strong><span style="color: #FF0000; font-family: 微软雅黑;"><a href="javascript:popup()" class="copy"><font color="#ff0000"><span></span></font></a></span></strong></span>
</p>
<img border="0" src="picture2/tu7.png" tppabs="picture2/tu7.png">
<img border="0" src="picture2/benc.jpg" tppabs="picture2/benc.jpg">
<p>&nbsp;</p>
<img border="0" src="picture2/tu8.png" tppabs="picture2/tu8.png">
<img border="0" src="picture2/tu9.png" tppabs="picture2/tu9.png">
<p style="text-indent:0em;white-space: normal;color: #000000;font-family: 微软雅黑;">
加他微信：<span style="color: #FF0000; font-size: 20px;"><strong><span style="color: #FF0000; font-family: 微软雅黑;"><a href="javascript:popup()" class="copy"><font color="#ff0000"><span></span></font></a></span></strong></span>
</p><p>&nbsp;</p>
<img border="0" src="picture2/tu10.gif" tppabs="picture2/tu10.gif">
<img border="0" src="picture2/tu11.jpg" tppabs="picture2/tu11.jpg">
<img border="0" src="picture2/tu12.jpg" tppabs="picture2/tu12.jpg">

<p>&nbsp;</p>
<p class="tudkg" style="text-align: center; font-size: 1.3rem; line-height: 2.4rem; color: rgb(255, 255, 255); width: 333px; display: block; font-family: 微软雅黑; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 15px; padding-bottom: 15px; background: rgb(255, 0, 0)">
<img border="0" src="picture2/mfzd.png" tppabs="picture2/mfzd.png"><br><img id="wechatCode" src="" alt=""><br>扫一扫添加好友<br>复制微信号添加：<i style="font-style: normal;"><a href="javascript:popup()" class="copy"><font color="#FFFFFF"><b><span></span></b></font></a></i></p> 
<p>&nbsp;</p>


<p></p>
<p><font size="3"> 阅读 <script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-0 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write("1"+month+""+checkTime(sec)+""+checkTime(min)+"")
</script>+&nbsp;
<script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-0 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write("19"+month+""+checkTime(sec)+"")
</script></font></p>
<article class="detaillist"><div id="131303366" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">水水可里</a>
			<span class="fr ">1楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p><img border="0" src="picture2/pj1.png" tppabs="picture2/pj1.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-1 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":08")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131316746" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">放飞梦想</a>
			<span class="fr ">2楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p><img border="0" src="picture2/pj2.png" tppabs="picture2/pj2.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-2 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":15")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131307002" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">健身小王子</a>
			<span class="fr ">3楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content"><img border="0" src="picture2/pj3.png" tppabs="picture2/pj3.png"></div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-2 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":33")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131310859" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">黑主优姬琳</a>
			<span class="fr ">4楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p></p>
				<div class="reply_box">
					<div class="quote">
						<p class="info"><font size="3" style="font-family:Microsoft YaHei">引用第3楼健身小王子于<script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-2 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":33")
</script>发表的:</font></p>
						<p><img border="0" src="picture2/pj31.png" tppabs="picture2/pj31.png"></p>
					</div>
				</div><p></p>
				<p><img border="0" src="picture2/pj4.png" tppabs="picture2/pj4.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-0 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":03")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131310868" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">唱沵唱不懂旳歌</a>
			<span class="fr ">5楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p></p>
				<div class="reply_box">
					<div class="quote">
					  <p class="info"><font size="3">引用第3楼健身小王子于<script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-2 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":33")
</script>发表的:</font></p>
						<p>谢谢，我直接点击加这个<font color="#FF0000"><strong>
						<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);">微信号:<a href="javascript:popup()" class="copy"><font color="#ff0000"><span></span></font></a></span></strong></font> 可以吗？</p>
					</div>
				</div>
				<p></p>
				<p><img border="0" src="picture2/pj53.png" tppabs="picture2/pj53.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-1 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":52")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131311759" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">做人要有风范</a>
			<span class="fr ">6楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
			  <p><font size="3"><img border="0" src="picture2/pj6.png" tppabs="picture2/pj6.png"><span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong>微信号:<a href="javascript:popup()" class="copy"><font color="#ff0000"><span></span></font></a></strong></font></span> </font></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-4 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":33")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131314171" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">悄悄的悄悄的</a>
			<span class="fr ">7楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p><img border="0" src="picture2/pj7.png" tppabs="picture2/pj7.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-6 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":17")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131314688" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">黄金满地</a>
			<span class="fr ">8楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p>是<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><font color="#FF0000"><strong>微信号:<a href="javascript:popup()" class="copy"><font color="#ff0000"><span></span></font></a></strong></font></span> 
				这个微信吧！<img border="0" src="picture2/pj8.png" tppabs="picture2/pj8.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-7 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":30")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131314731" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">猫扑走天涯</a>
			<span class="fr ">9楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p><img border="0" src="picture2/pj9.png" tppabs="picture2/pj9.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-8 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":46")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131315533" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">姑娘不倾城</a>
			<span class="fr ">10楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p><img border="0" src="picture2/pj10.png" tppabs="picture2/pj10.png"></p>
			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-9 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":56")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
	<div id="131316746" class="detail">
		<div class="title">
			<font size="3"><a href="javascript:void(0);" class="bc">画一方禁地</a>
			<span class="fr ">11楼</span>
		</font></div>
		<div class="content_box">
			<div class="content wap_content">
				<p><img border="0" src="picture2/pj11.png" tppabs="picture2/pj11.png"></p>

			</div>
			<font size="3"><small class="fl"><script type="text/javascript"> 
/*本段函数控制小时、分钟、秒数的双位表示*/ 
function checkTime(i) { 
if (i<10) 
{i="0"+i} 
return i 
} 
</script> 
<script type="text/javascript"> 
var d = new Date() //新建一个Date对象 
var year = d.getFullYear() //获取年份 
var month = d.getMonth()+1 //获取月份 
var day = d.getDate() //获取日期 
var hour = d.getHours()-0 //获取小时
var min = d.getMinutes()-10 //获取分钟 
var sec = d.getSeconds() //获取秒数 
document.write(year+"-"+month+"-"+day+" "+checkTime(hour)+":"+checkTime(min)+":19")
</script></small>
			<span class="fr">
                  <a href="javascript:void(0);" class="fl quotereply">回复</a>
                  </span>
			</font><div class="clear"></div>
		</div>
	</div>
</article>
</section></div></div></div>
    <div class="aside make-friends ">
        <div class="container clearfix">
            <div class="fl" style="font-size:16px;color:#ffff00;">加微信好友 <b><span></span></b><br><font style="font-size: 14px;color:#fff;" id="bianse">免费为您提供最新赚钱方法</font></div>
            <button class="frs copy">点击复制微信号</button>
        </div>
    </div>
    <script type="text/javascript" src="js2/jquery-1.12.4.min.js" tppabs="js2/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js2/clipboard.min.js" tppabs="js2/clipboard.min.js"></script>
    <script type="text/javascript" src="js2/layer.js" tppabs="js2/layer.js"></script>
    <script type="text/javascript" src="js2/script.js" tppabs="js2/script.js"></script>
<script>
var i = 0;
function getColor(){
 i++;
 switch(i){ 
  case 1:return "#FF0000";
  case 2:return "#FFFFFF";
 }
}
function colorful(){
 var o =document.getElementById('bianse');
 o.style.color=getColor();
 if(i==2)i=0;
 setTimeout('colorful()',300);
}
colorful();
</script>
<div style="display:none"><script src="js2/z_stat.php" tppabs="js2/z_stat.php" language="JavaScript"></script></div>
</body></html>